Find out which vaccions are used in which country  
Country of use by Covid vaccine-preferred type

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
vaccination = pd.read_csv('data/country_vaccinations.csv')

In [3]:
vaccination.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8451 entries, 0 to 8450
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              8451 non-null   object
 1   iso_code                             8451 non-null   object
 2   date                                 8451 non-null   object
 3   total_vaccinations                   5231 non-null   float64
 4   people_vaccinated                    4688 non-null   float64
 5   people_fully_vaccinated              3186 non-null   float64
 6   daily_vaccinations_raw               4415 non-null   float64
 7   daily_vaccinations                   8260 non-null   float64
 8   total_vaccinations_per_hundred       5231 non-null   float64
 9   people_vaccinated_per_hundred        4688 non-null   float64
 10  people_fully_vaccinated_per_hundred  3186 non-null   float64
 11  daily_vaccinations_per_million       8260 non-null   float64
 12  vaccines                             8451 non-null   object
 13  source_name                          8451 non-null   object
 14  source_website                       8451 non-null   object
dtypes: float64(9), object(6)
memory usage: 990.5+ KB

In [9]:
#vaccination = vaccination.astype({'date': 'datetime64[ns]'})
#vaccination.info()

In [10]:
#vaccination['date']

In [4]:
vaccination.isnull().sum()

country                                   0
iso_code                                  0
date                                      0
total_vaccinations                     3220
people_vaccinated                      3763
people_fully_vaccinated                5265
daily_vaccinations_raw                 4036
daily_vaccinations                      191
total_vaccinations_per_hundred         3220
people_vaccinated_per_hundred          3763
people_fully_vaccinated_per_hundred    5265
daily_vaccinations_per_million          191
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

In [12]:
vaccination.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
8446,Zimbabwe,ZWE,23/03/2021,44135.0,44135.0,NaN,841.0,655.0,0.30,0.30,NaN,44.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1375899540...
8447,Zimbabwe,ZWE,24/03/2021,49404.0,49404.0,NaN,5269.0,1400.0,0.33,0.33,NaN,94.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1375899540...
8448,Zimbabwe,ZWE,25/03/2021,54892.0,54892.0,NaN,5488.0,2127.0,0.37,0.37,NaN,143.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1375899540...
8449,Zimbabwe,ZWE,26/03/2021,61093.0,61093.0,NaN,6201.0,2772.0,0.41,0.41,NaN,187.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1375899540...
8450,Zimbabwe,ZWE,27/03/2021,65466.0,65466.0,NaN,4373.0,3322.0,0.44,0.44,NaN,224.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1375899540...

In [5]:
print(len(vaccination['country'].unique()))
vaccination['country'].unique()

154

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bermuda', 'Bolivia',
       'Brazil', 'Bulgaria', 'Cambodia', 'Canada', 'Cayman Islands',
       'Chile', 'China', 'Colombia', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Estonia', 'Faeroe Islands',
       'Falkland Islands', 'Finland', 'France', 'Germany', 'Ghana',
       'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guatemala',
       'Guernsey', 'Guinea', 'Guyana', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Laos', 'Latvia', 'Lebanon',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Malawi',
       'Malaysia', 'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nigeria', 'North Macedonia', 'Northern Cyprus',
       'Northern Ireland', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Taiwan', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Venezuela', 'Vietnam', 'Wales', 'Zimbabwe'],
      dtype=object)

In [14]:
print(len(vaccination['iso_code'].unique()))
vaccination['iso_code'].unique()

154

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'AUS',
       'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BGR', 'KHM', 'CAN', 'CYM', 'CHL', 'CHN',
       'COL', 'CRI', 'CIV', 'HRV', 'CYP', 'CZE', 'DNK', 'DMA', 'DOM',
       'ECU', 'EGY', 'SLV', 'OWID_ENG', 'GNQ', 'EST', 'FRO', 'FLK', 'FIN',
       'FRA', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GTM', 'GGY',
       'GIN', 'GUY', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ',
       'KEN', 'KWT', 'LAO', 'LVA', 'LBN', 'LIE', 'LTU', 'LUX', 'MAC',
       'MWI', 'MYS', 'MDV', 'MLT', 'MUS', 'MEX', 'MDA', 'MCO', 'MNG',
       'MNE', 'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NZL',
       'NGA', 'MKD', 'OWID_CYN', 'OWID_NIR', 'NOR', 'OMN', 'PAK', 'PAN',
       'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA',
       'SHN', 'KNA', 'LCA', 'VCT', 'SMR', 'SAU', 'OWID_SCT', 'SEN', 'SRB',
       'SYC', 'SLE', 'SGP', 'SVK', 'SVN', 'ZAF', 'KOR', 'ESP', 'LKA',
       'SUR', 'SWE', 'CHE', 'TWN', 'THA', 'TGO', 'TTO', 'TUN', 'TUR',
       'TCA', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'VEN', 'VNM',
       'OWID_WLS', 'ZWE'], dtype=object)

In [6]:
print(len(vaccination['vaccines'].unique()))
vaccination['vaccines'].unique()

27

array(['Oxford/AstraZeneca', 'Pfizer/BioNTech', 'Sputnik V',
       'Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V',
       'Oxford/AstraZeneca, Pfizer/BioNTech',
       'Moderna, Oxford/AstraZeneca, Pfizer/BioNTech', 'Sinovac',
       'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V',
       'Oxford/AstraZeneca, Sinovac', 'Sinopharm/Beijing',
       'Pfizer/BioNTech, Sinovac',
       'Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac',
       'Moderna, Pfizer/BioNTech', 'Moderna',
       'Moderna, Oxford/AstraZeneca',
       'Moderna, Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V',
       'Covaxin, Oxford/AstraZeneca',
       'Pfizer/BioNTech, Sinopharm/Beijing',
       'Sinopharm/Beijing, Sputnik V',
       'Oxford/AstraZeneca, Pfizer/BioNTech, Sputnik V',
       'Oxford/AstraZeneca, Sinopharm/Beijing',
       'Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac',
       'EpiVacCorona, Sputnik V', 'Johnson&Johnson',
       'Pfizer/BioNTech, Sputnik V',
       'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V',
       'Johnson&Johnson, Moderna, Pfizer/BioNTech'], dtype=object)

In [39]:
vac_country = pd.DataFrame({'country':vaccination.country, 'vaccines':vaccination.vaccines})

In [40]:
vac_country

          country            vaccines
0     Afghanistan  Oxford/AstraZeneca
1     Afghanistan  Oxford/AstraZeneca
2     Afghanistan  Oxford/AstraZeneca
3     Afghanistan  Oxford/AstraZeneca
4     Afghanistan  Oxford/AstraZeneca
...           ...                 ...
8446     Zimbabwe   Sinopharm/Beijing
8447     Zimbabwe   Sinopharm/Beijing
8448     Zimbabwe   Sinopharm/Beijing
8449     Zimbabwe   Sinopharm/Beijing
8450     Zimbabwe   Sinopharm/Beijing

[8451 rows x 2 columns]

In [41]:
# display(vaccination[vaccination["vaccines"]=="Oxford/AstraZeneca"][['vaccines','country','total_vaccinations']].sort_values(by='total_vaccinations', ascending=False))

(vac_country['vaccines'] == 'Oxford/AstraZeneca').sum()

1031

In [42]:
vac_country['vaccines'][8000]

'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V'

In [43]:
vac_country.vaccines.str.split(', ')
vac_country

          country            vaccines
0     Afghanistan  Oxford/AstraZeneca
1     Afghanistan  Oxford/AstraZeneca
2     Afghanistan  Oxford/AstraZeneca
3     Afghanistan  Oxford/AstraZeneca
4     Afghanistan  Oxford/AstraZeneca
...           ...                 ...
8446     Zimbabwe   Sinopharm/Beijing
8447     Zimbabwe   Sinopharm/Beijing
8448     Zimbabwe   Sinopharm/Beijing
8449     Zimbabwe   Sinopharm/Beijing
8450     Zimbabwe   Sinopharm/Beijing

[8451 rows x 2 columns]

In [44]:
vac_country.vaccines[8000]

'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V'

In [45]:
vac_country.insert(2,'vaccines_splited', vac_country['vaccines'].str.split(', ') )
vac_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8451 entries, 0 to 8450
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           8451 non-null   object
 1   vaccines          8451 non-null   object
 2   vaccines_splited  8451 non-null   object
dtypes: object(3)
memory usage: 198.2+ KB

In [47]:
vac_country.vaccines_splited[8000]

['Oxford/AstraZeneca',
 'Pfizer/BioNTech',
 'Sinopharm/Beijing',
 'Sinopharm/Wuhan',
 'Sputnik V']

In [48]:
vac_country.set_index('country',inplace=True)
vac_country.head()

                       vaccines      vaccines_splited
country
Afghanistan  Oxford/AstraZeneca  [Oxford/AstraZeneca]
Afghanistan  Oxford/AstraZeneca  [Oxford/AstraZeneca]
Afghanistan  Oxford/AstraZeneca  [Oxford/AstraZeneca]
Afghanistan  Oxford/AstraZeneca  [Oxford/AstraZeneca]
Afghanistan  Oxford/AstraZeneca  [Oxford/AstraZeneca]

In [51]:
vac_country.drop('vaccines_splited', axis=1, inplace=True)
vac_country

                       vaccines
country
Afghanistan  Oxford/AstraZeneca
Afghanistan  Oxford/AstraZeneca
Afghanistan  Oxford/AstraZeneca
Afghanistan  Oxford/AstraZeneca
Afghanistan  Oxford/AstraZeneca
...                         ...
Zimbabwe      Sinopharm/Beijing
Zimbabwe      Sinopharm/Beijing
Zimbabwe      Sinopharm/Beijing
Zimbabwe      Sinopharm/Beijing
Zimbabwe      Sinopharm/Beijing

[8451 rows x 1 columns]

In [52]:
vac_country['vac1'],vac_country['vac2'],vac_country['vac3']=vac_country.vaccines.str.split(', ',2).str
vac_country

<ipython-input-52-622c4397fbaa>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  vac_country['vac1'],vac_country['vac2'],vac_country['vac3']=vac_country.vaccines.str.split(', ',2).str

                       vaccines                vac1 vac2 vac3
country
Afghanistan  Oxford/AstraZeneca  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  Oxford/AstraZeneca  NaN  NaN
...                         ...                 ...  ...  ...
Zimbabwe      Sinopharm/Beijing   Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing   Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing   Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing   Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing   Sinopharm/Beijing  NaN  NaN

[8451 rows x 4 columns]

In [55]:
vac_country.drop('vaccines', axis =1, inplace=True)
vac_country

                           vac1 vac2 vac3
country
Afghanistan  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  NaN  NaN
Afghanistan  Oxford/AstraZeneca  NaN  NaN
...                         ...  ...  ...
Zimbabwe      Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing  NaN  NaN
Zimbabwe      Sinopharm/Beijing  NaN  NaN

[8451 rows x 3 columns]

In [58]:
vac_country2 =pd.concat(vac_country.vac1, vac_country.vac2, vac_country.vac3)
vac_country2

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"